ADMIN_PASSWORD=endian
ROOT_PASSWORD=endian
DOMAINNAME=localdomain
HOSTNAME=efw
NAME=Endian UTM
GREEN_ADDRESS=1.1.1.1
GREEN_BROADCAST=1.1.1.1
GREEN_NETADDRESS=255.255.255.0
GREEN_NETMASK=255.255.255.0
ORANGE_ADDRESS=2.2.2.2
ORANGE_BROADCAST=2.2.2.2
ORANGE_NETADDRESS=255.255.255.0
ORANGE_NETMASK=255.255.255.0
RED_ADDRESS=3.3.3.3
RED_BROADCAST=3.3.3.3
RED_NETADDRESS=255.255.255.0
RED_NETMASK=255.255.255.0

